.centre {
    text-align: center;
}
main {
    width: 70%;
    margin: auto;
}
.text-color {
    color: blue;
    font-family: sans-serif;
}
h1 {
    height: 412px; 
    background-color: bisque;
    background-image: url(./assets/images/60423972b0a20.jpg);
    padding-top: 100px;
}